body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #87cad4;
}
h1 {
  display: inline-block;
}
h3 {
  font-size: 36px;
  font-weight: 700;
}
p {
  display: inline-block;
  width: 400px;
  font-weight: 200;
}
header {
  background-color: #14342b;
  color: white;
  text-align: center;
  padding: 16px;
  width:100%;
}
.resumen {
  background-color: #2ba84a;
  text-align: center;
  padding: 10px;
  width:100%;
}
.content {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-top: 70px;
  
}
dt {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 12px;
}
ul li {
  margin-top: 16px;
}
.pic {
  display: inline-block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  
}
#pic {
  width: 300px;
}
.cv{
    display: inline-block;
    margin-top: 10px;
    width:68%;
    vertical-align: top;
}